# Dependencies
node_modules/
/dist
/.next
/out
/build
bin/
obj/

# Env files
.env
*.env.local
*.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Go
backend/bin/
backend/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
backend/internal/db/migrations/ (if you want to exclude local migrations)

# Exclude specific files and folders
supabase/
database_readme.md
database_update_readme.md
README.md
